/* General */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: .02em;
    background-color: #FFF;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer>p {}

.main-page-h {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: .02em;
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: .02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    text-align: center;
}

.card-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .02em;
    color: #2E2F42;
    margin-left: 16px;
}

.card-text {
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

nav a {
    font-weight: 500;
}

address {
    font-style: normal;
}

.address-link {
    color: #434455;
}

ul {
    list-style-type: none;
}

button {
    letter-spacing: .04em;
    background: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
}

/* Logo design */
.logo {
    letter-spacing: .03em;
    line-height: 1.17;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    margin-right: 76px;
}

.black-logo {
    color: #2E2F42;
}

.footer .black-logo {
    color: #F4F4FD;
}

/* Active and hover designs */
button:hover,
button:active,
button:focus {
    background: #404BBF;
}

a:hover,
a:active,
a:focus {
    color: #404BBF;
}

a:active {
    text-decoration: underline;
}

address>a:focus {
    color: #404BBF;
}

/* Flexbox designs: */
/* Header */
header {
    color: #2E2F42;
    justify-content: space-around;
}



nav>ul,
address>ul {}

.header-flexbox {}

/* Content */
.flexbox {
    justify-content: center;
}

.flexbox-entity {
    /* width: calc((100-(3*24px))/4); */
}

.team-page li {
    background-color: #FFF;
}

.portfolio-page .flexbox {}

/* Class designs */

.main-page {
    background-color: #2E2F42;
    color: #FFF;
    text-align: center;
}

.main-page-btn {
    color: #FFF;
}

.team-page {
    background-color: #F4F4FD;
    text-align: center;
}

#values-page,
.portfolio-page {}

.portfolio-page-entity {
    /*width: calc((100%-(2*24px))/3);*/
}

.hidden {}